*.ori
*.php~
assets/*
!assets/.gitignore
protected/runtime/*
protected/runtime/*.db
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
*.db
*.log
protected/runtime/session-1.1.14.db