*.ori
*.php~
assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
protected/runtime/application.log
*.db
protected/runtime/session-1.1.14.db
*.log
protected/runtime/application.log
*.log